h1,h2,h3 {
    + p:first-letter {
        color: #903;
        float: left;
        font-family: Georgia;
        font-size: 75px;
        line-height: 75px;
        padding-top: -4px;
        padding-right: 8px;
        padding-left: 3px;
    }
}
