

{{define "scripts"}}
{{ $script := resources.Get "./post.js" | fingerprint}}
<script type="text/javascript" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
{{end}}

{{define "styles"}}
{{ $style := resources.Get "./post.css" | fingerprint}}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{end}}

{{define "main"}}

{{partial "header" .}}
<main>
    <article>
        <h1>{{.Title}}</h1>
        {{.Content}}
    </article>
</main>
{{end}}
