animated-text {
    --fontSize: 24px;
    padding-bottom: 1px;
    transition: border-bottom 0.2s ease-out;
    border-bottom: 1px solid var(--textColorRBGA);
}
h2 {
    font-family: monospace;
    font-size: 24px;
}
section.intro {
    width: calc(100% - 20px);
    margin: 0 10px;
    box-sizing: border-box;
    border-bottom: 2px solid #c0c0c0;
    padding: 10px;
}
h4, h3 {
    display: inline-block;
    margin: 0;
}
h4 {
    font-weight: lighter;
    color: #464646;
}
article {
    margin-bottom: 10px;
}