{{define "scripts"}}
    {{ $script := resources.Get "./home.js" | fingerprint}}
    <script type="text/javascript" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
{{end}}

{{define "styles"}}
    {{ $style := resources.Get "./home.css" | fingerprint}}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{end}}

{{define "main"}}
    
    {{partial "header" .}}
    <main>
        <section class="intro">
            <h2>Hi, I am <animated-text></animated-text></h2>
            <p>
                I'm a software engineer from Sweden currently living in Amsterdam. This blog is where I aim to share my opinions and thoughts on software development. If you don't like what I'm saying, feel free to <a href="https://twitter.com/AOForsberg" title="Anton Forsberg on Twitter">scream at me on Twitter</a>.
                
            </p>
        </section>
     
        <h1>Blog</h1>
        {{ $blogPosts := (.Site.GetPage "/blog").Pages}}
        {{ range $blogPosts.ByDate.Reverse }}
            <article>
                <h3>{{.Title}}</h3>
                <h4> — {{.PublishDate.Format "2006-01-02"}}</h4>
                <p>{{.Summary}}</p>
                <a  href="{{.RelPermalink}}"
                    class="href"
                    title="{{.Title}}"
                    alt="Click to read more about {{.Title}}">Read more...</a>
            </article>
        {{ end }}
    </main>
{{end}}