{{define "scripts"}}
    {{ $script := resources.Get "./home.js" | fingerprint}}
    <script type="text/javascript" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
{{end}}

{{define "styles"}}
    {{ $style := resources.Get "./home.css" | fingerprint}}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{end}}

{{define "main"}}
    {{ $blogPosts := (.Site.GetPage "/blog").Pages}}
    {{partial "header" .}}
    <div>
        <h1>{{.Title}}</h1>
        <h2>Blog</h2>
        {{ range $blogPosts.ByDate }}
            <a href="{{.RelPermalink}}" class="href">
                <h3>{{.Title}}</h3>
                <p>{{.Summary}}</p>
            </a>

        {{ end }}
    </div>
{{end}}