* {
    line-height: 150%;
    font-size: 18px;
}
html {
    --textColor: #1b1b1b;
}
main {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    color: var(--textColor);
}
nav {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    font-size: 18px;

    a:not(.active) {
        border-bottom: none;
    }
    > *:not(:first-child) {
        margin: 0 10px;
    }

}
a {
    color: #1b1b1b;
    text-decoration: none;
    border-bottom: 1px solid rgba(27,27,27,0.5);
    transition: border-bottom-color 0.2s ease-in-out;
    &:hover {
        border-bottom-color: rgba(27,27,27, 1);
    }
}